<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="boardDao">
  

 <insert id="insertBoard" parameterType="board">
		<![CDATA[
		INSERT INTO BOARD(NO, PWD, WRITER,SUBJECT, CONTENT, REGDATE)
		VALUES(board_seq.nextval , #{pwd} , #{writer} , #{subject} , #{content} , sysdate)
		]]>
	</insert>
	<select id="getBoardList" resultType="board">
		<![CDATA[
		SELECT *
		FROM BOARD
		ORDER BY NO DESC
		]]>
	</select>
  </mapper>